@font-face {
    font-family: 'gladifiltheftegladifilthefte';
    src: url('fonts/Gladifilthefte-webfont.eot');
    src: url('fonts/Gladifilthefte-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gladifilthefte-webfont.woff') format('woff'),
         url('fonts/Gladifilthefte-webfont.ttf') format('truetype'),
         url('fonts/Gladifilthefte-webfont.svg#gladifiltheftegladifilthefte') format('svg');
    font-weight: normal;
    font-style: normal;
}

/***********************************
****	    Reset	    ********
************************************/

body,
div,
h1,
h2,
h3,
p,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
figure,
footer,
header,
menu,
nav,
section {
margin: 0;
padding: 0;
border: 0;
}

a, li, input{
text-decoration : none;
list-style : none;
border : none;
}

/***********************************
****Consistance cross browser*******
***********************************/

html {
height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
min-height: 100%;
font-size: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section{
display: block;
}

input,
textarea,
button,
select {
margin: 0;
font-size: 100%;
line-height: normal;
vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;
  -webkit-appearance: button;
}

textarea {
overflow: auto;
}



/***********************************
****	       Media         *******
***********************************/

figure {
  position: relative;
  display : block;
}
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
/***********************************
****Positionnement/Structure********
************************************/

/*on enveloppe la structure et le positionnement avec une query pour ne
pas avoir à la "défaire" ensuite pour les resolutions mobiles*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {

h1{
    text-align : center;
    
}

h2 {
  font-weight: normal;
}

h3 {
  margin: 1.5em 0 1.5em;
}

.user_menu{
    float : right;
    margin-top : -8.5%;
}

/*marges "elastiques" pour le responsive*/
.wrapper {
  margin: 0 5.555555555555555%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu{
    width : 100%;
    height : auto;
}

#menu ul{
    margin-left : 5.55555%;
    margin-bottom : 0.8em;
    //margin-top : 0.8em;
}

#slider img{
    width : 100%;
    height : auto;
}

#galerie{
    width : 100%;
}

.produit{
    width : 100%;
    list-style : none;
    //margin: 2% 6.6%;
    
}

.produit li{
    width : 31.1%;
    height : 450px;;
    display : inline-block;
    text-align : center;
    overflow: hidden;
    padding : 1% 1.1%;
}

#mainMenu li, #admin_menu li{
    padding : 0px 10px;
}

#mainMenu ul li{
    display : inline;
}

/*Default placeholder*/


.desc{
    background-color : #ffa823;
    height : 150px;
    padding-left : 1em;
    //display : none;
}

/******************Fiche Produit***************/


#ficheProduit{
    /*position : relative;*/
}


#ficheProduit img{
    width : 35%;
    height : auto;   
}
      
.tabs a {
    background: #ffffff;
    color: #000000;
    border : 4px solid black;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight : 600;
    margin-left : -1%;
}

.onglet{
    padding-top : 5%;
}

#tab2, #tab3{
    width : 55%;
}

.tabs a.active {
    background: #000000;
    color: #ffffff;
}

.tabs li {
    display: inline;
    list-style: none outside none;
}

}

html, body, #map-canvas, .onglet, .wrapper, .tabbed, #ficheProduit, #content{
    height: 100%;
}

#map-canvas{
    width : 500px;
    height : 500px;
}

/* 
* Mise en forme police etc...
*
*
*/

html{
    height : 100%;
}

body{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight : 400;
    height : 100%;
    overflow: scroll;
    width : 100%;
}


h1{
  font-family: 'gladifiltheftegladifilthefte';
  color : #ffa823;
  font-size : 46px;
}

/*****Color Box**************/

.cBLogin{
    width : 100%;
}

.formCB{
    background : #ffffff;
    border-radius : 15px;
    padding : 10% 10%;
    height : auto;
    overflow : visible;
}

#cboxLoadedContent{
    background : #ffffff;
    border-radius : 15px;
    padding : 10% 10%;
    min-height : 300px;
    overflow : visible;
    width : 450px;
}

#cboxLoadedContent input, select, option{
    width : 100%;
}

form input{
    display : block;
}

form textarea{
    display : block;
}

form img{
    max-width : 22%;
    height : auto;
    display : block;
}

label{
    display : inline;
}

select{
    display : block;
}

.error{
    color : red;
    text-shadow: 1px;
}

#twoway{
  margin: 0 5.555555555555555% 2% 5.555555555555555%;
  width : 80%;
  padding-bottom : 2%;
  border-bottom : solid 1px;
  height : 100px;
  padding : 7px 15px;

}

#menu{
    margin-bottom : 1em;
    height : 3em;
    background-color : black;
}

#menu ul{
    padding : 8px 0;
    text-align : center;
}

#connexion{
    cursor : pointer;
}


#adminLi a{
    /*position : relative;*/
}

#adminLi ul{
    display : none;
}


#adminLi:hover ul{
    display : block;
    background-color : #ffffff;
    border : 1px solid black;
}

.admin_menu{
    /*position : absolute;*/
    left : 22%;
    
}


.admin_menu li a{
    text-align : left;
    font-size : 1em;
    color : black;
}


#mainMenu ul li a{
    color : #ffffff;
    font-weight : 500;
    text-decoration : none;
    padding : 0.5em 2em;
}

/*Sous menu */

#mainMenu ul li ul li{
    display : block;
    padding : 1% 0;
}

#mainMenu ul li ul li a{
    color : #000000;
    font-weight : 300;
}

/* Connexion dans le user_menu */

.invisible{
    display : none;
}

.user_menu li{
    padding : 2% 0;
    margin : 8% 0;
    display : block;
}

.user_menu ul{
    margin-top : 1%;
}

.user_menu li a{
    color : black;
}

/*Boutons*/
.bouton{
    padding : 2% 2.3%;
    color : #ffffff;
    background-color : #000000;
    margin-left : 0.2%;
    margin-right : 1%;
}

/*Mise en page liste produits*/

#galerie a:first-child{
    text-decoration: none;
    color : #000000;
}

#supr{
    font-size : 1.8em;
    color : red;
}

#galerie span{
    font-size : 3em;
}


#loupe{
    margin-top : 2%;
    padding : 0 2%;
    background : #ffffff url('../../../../img/magni.png') no-repeat;
    background-position: 0% -4%;
}

#loupe:hover{
    cursor : pointer;
}

.tripleSearch{
    width : 82.5%;
    margin-top : 3%;
    margin-bottom : 3%;
    margin-left : 5.5%;
    margin-right : 50%;
    padding-bottom : 2%;
    border-bottom: solid 1px black;
    display : none;
}

.tripleSearch span{
    font-size : 0.8em;
}

.tripleSearch input, select, label{
    width : 15%;
    display : inline;
    margin : 0 1%;
}

.tripleSearch input[type=submit]{
    width : 5%;
}

#stats h3{
    font-family: 'gladifiltheftegladifilthefte';
    font-weight : 200;
    font-size : 1.5em;
}

#homePage{
    clear : both;
    padding: 5% 5%;
    margin-bottom : 2%;
}

#homePage img{
    width : 25%;
    height : auto;
}

h4 a{
    color : black;
}

.commande img{
    width : 80px;
    height : auto;
}

.blueRow{
    background : blue;
}

.produit img{
    width : 66%;
    height : auto;
    margin-bottom : 5%;
}

.produit .reserved{
    border : solid 1px red;
    width : 25%;
}

.produit .reserved p{
    color : red;
}

#cart li{
    display : block;
}

#bigWrapper{
   margin : 0 0;
   min-height:100%;
   position:relative;
}

#content{
    padding-bottom : 18em;
}

#footer {
   left : 0%;
   padding-top : 1em;
   position:absolute;
   bottom:0;
   width:100%;
   height:15em;   /* Height of the footer */
   background:#696969;
}



