@font-face {
    font-family: 'gladifiltheftegladifilthefte';
    src: url('fonts/Gladifilthefte-webfont.eot');
    src: url('fonts/Gladifilthefte-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gladifilthefte-webfont.woff') format('woff'),
         url('fonts/Gladifilthefte-webfont.ttf') format('truetype'),
         url('fonts/Gladifilthefte-webfont.svg#gladifiltheftegladifilthefte') format('svg');
    font-weight: normal;
    font-style: normal;

}

/***********************************
****	    Reset	    ********
************************************/

body,
div,
h1,
h2,
h3,
p,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
figure,
footer,
header,
menu,
nav,
section {
margin: 0;
padding: 0;
border: 0;
}

a, li, input{
text-decoration : none;
list-style : none;
display : inline;
border : none;
}

/***********************************
****Consistance cross browser*******
***********************************/

html {
height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
min-height: 100%;
font-size: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section{
display: block;
}

input,
textarea,
button,
select {
margin: 0;
font-size: 100%;
line-height: normal;
vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
cursor: pointer;
  -webkit-appearance: button;
}

textarea {
overflow: auto;
}



/***********************************
****		 Media			 *******
***********************************/

figure {
  position: relative;
  display : block;
}
figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block;
}
/***********************************
****Positionnement/Structure********
************************************/

/*on enveloppe la structure et le positionnement avec une query pour ne
pas avoir à la "défaire" ensuite pour les resolutions mobiles*/

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {

/*header,*/ #twoway {
  //margin: 0 5.555555555555555%;
  width :100%;
  height : 50px;
  padding : 7px 15px;
  position : relative;
}

h1{
    //margin-bottom : 5%;
    //margin-left : 5.55555%;
    width : 100%;
    position : absolute;
    left : 45%;
    top : 9%;
    
}

h2 {
  font-weight: normal;
}

h3 {
  margin: 1.5em 0 1.5em;
}

.user_menu{
    position : absolute;
    left : 90.1%;
    top : 11%;
    width : 100%;
}

/*marges "elastiques" pour le responsive*/
.wrapper {
  margin: 0 5.555555555555555%;
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu{
    width : 100%;
    height : auto;
}

#menu ul{
    margin-left : 5.55555%;
    margin-bottom : 0.8em;
    //margin-top : 0.8em;
}

#slider img{
    width : 100%;
    height : auto;
}

#galerie{
    width : 100%;
}

.produit{
    width : 100%;
    list-style : none;
    //margin: 2% 6.6%;
    
}

.produit li{
    width : 31.1%;
    height : 450px;;
    display : inline-block;
    text-align : center;
    overflow: hidden;
    padding : 1% 1.1%;
}

.user_menu li, #mainMenu li, #admin_menu li{
    padding : 0px 10px;
}

/*Default placeholder*/

#latest{
    position : relative;
}

#box1, #box2, #box3{
    position : absolute;
}

.desc{
    position : absolute;
    background-color : #ffa823;
    height : 150px;
    padding-left : 1em;
    display : none;
}

#box1, #box2, #box3{
    width : 62.5%;
}

#box1 .desc{
    bottom : 0;
    width : 98.1%;
}
#box2 .desc{
    top : 0;
    width : 96%;
}

#box3 .desc{
    bottom : 10%;
    width : 96%;
}

#box1 img{
    width : 100%;
}

#box2, #box3{
    width : 30%;
    left : 65%;
    
}

#box3{
    height : 300px;
    margin-top : 21.8%;
}

#box2 img, #box3 img{
    width : 100%;
}

}

/* Mise en forme police etc...*/
body{
    font-family: 'Alegreya Sans SC', sans-serif;
}

h1{
  font-family: 'gladifiltheftegladifilthefte';
  color : #ffa823;
  font-size : 46px;
  //text-align : center;
}

#twoway{
  //background-color : #243a40;
  position : relative;
  margin: 0 5.555555555555555% 2% 5.555555555555555%;
  width : 80%;
  padding-bottom : 2%;
  border-bottom : solid 1px;

}

#menu{
    //border-bottom : solid 0.5px;
    margin-bottom : 1em;
    height : 3em;
    background-color : black;
}

#menu ul{
    padding : 8px 0;
    text-align : center;
}

#adminLi a{
    //background-color : yellow;
    padding : 100% 100%;
}

#adminLi ul{
    display : none;
}


#adminLi:hover ul{
    display : block;
    background-color : #ffffff;
    border : 1px solid black;
}

.admin_menu{
    position : absolute;
    left : 18.6em;
    top : 2.2em;
    z-index : 1;
    //background-color : pink;
}


.admin_menu li a{
    text-align : left;
    font-size : 1em;
    position : relative;
    color : black;
}


#mainMenu ul li a{
    color : #ffffff;
    font-weight : bold;
    text-decoration : none;
    padding : 0.5em 2em;
}

/*Sous menu */

#mainMenu ul li ul li{
    display : block;
}

#mainMenu ul li ul li a{
    color : #000000;
}


#loupe input{
    padding  : 0.2% 3%;
    border : solid 1px;
    border-radius: 15px;
    background : #ffffff url('../../../../img/magni.png') no-repeat;
    background-position: 5% 50%;
}

.user_menu li{
    display : block;
}

.user_menu li a{
    color : black;
}

#content a{
    color : black;
}

.produit img{
    width : 66%;
    height : auto;
}

#cart li{
    display : block;
}



