<IfModule mod_rewrite.c>

############################################
## enable rewrites
    RewriteEngine on

############################################
## you can put here your magento root folder
## path relative to web root

    RewriteBase /web/index.php
</IfModule>